//  color
$white: #ffffff;
$black: #000000;
$light-blue: #7FF0FF;
$green: #71FF1B;
$blue: linear-gradient(180deg, #6039FF 0%, #3A19C0 100%);
$dark-blue:  linear-gradient(180deg, rgb(30, 8, 119) 0%, rgb(34, 15, 109) 100%);
