.contest {
	position: relative;

	padding-top: 90px;
	padding-bottom: 57px;

	display: flex;

	@media (max-width: 767px) {
		padding-top: 100px;
	}

	// &::before {
	// 	position: absolute;
	// 	content: "";
	// 	top: 10px;
	// 	left: -90px;

	// 	width: 1224px;
	// 	height: 632px;


	// 	background-image: url("../img/parallax.png");
	// 	background-repeat: no-repeat;
	// 	background-size: cover;
	// 	z-index: 1;

	// 	@media (max-width: 767px) {
	// 		display: none;
	// 	}

	// 	@media (min-width: 768px) and (max-width: 1200px) {
	// 		display: none;
	// 	}
	// }

	// &::after {
	// 	position: absolute;
	// 	content: "";
	// 	top: 0;
	// 	left: 1px;

	// 	width: 560px;
	// 	height: 752px;


	// 	background-image: url("../img/parallax2.png");
	// 	background-repeat: no-repeat;
	// 	background-size: cover;

	// 	@media (max-width: 767px) {
	// 		display: none;
	// 	}

	// 	@media (min-width: 768px) and (max-width: 1200px) {
	// 		display: none;
	// 	}
	// }

	&__parallax1 {
		position: relative;

		&::before {
			position: absolute;
			content: "";
			top: -70px;
			left: 1px;

			width: 560px;
			height: 752px;


			background-image: url("../img/parallax2.png");
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

	&__parallax2 {
		position: relative;

		&::after {
			position: absolute;
			content: "";
			top: -70px;
			left: -90px;

			width: 1224px;
			height: 632px;


			background-image: url("../img/parallax.png");
			background-repeat: no-repeat;
			background-size: cover;
			z-index: 1;
		}
	}

	&__big-image {
		flex: 1;

		@media (max-width: 767px) {
			display: none;
		}

		@media (min-width: 768px) and (max-width: 1200px) {
			display: none;
		}
	}

	&__description {
		position: relative;
		z-index: 2;

		flex-direction: column;
		flex: 2.2;

		text-align: center;

		color: $white;
	}

	&__title {
		position: relative;
		z-index: 1;

		font-weight: 800;
		font-size: 56px;
		line-height: 64px;

		@media (max-width: 767px) {
			font-size: 30px;
			line-height: 35px;
		}

		&-wrap {
			padding: 0 50px;

			position: relative;

			@media (max-width: 767px) {
				padding: 0;
			}

			&::before {
				position: absolute;
				content: "";
				top: -30px;
				right: 55px;

				width: 128px;
				height: 128px;

				background: radial-gradient(42.08px at 50% 67.13%, #6039FF 0%, #4522D1 100%);
				border-radius: 50%;

				@media (max-width: 767px) {
					top: -85px;
					right: 10px;
				}
			}

			&::after {
				position: absolute;
				content: "Только для вебмастеров ad1.ru";
				top: 9px;
				right: 42px;

				transform: rotate(-15deg);

				width: 128px;
				height: 128px;

				font-weight: bold;
				font-size: 14px;
				line-height: 18px;

				color: $light-blue;

				@media (max-width: 767px) {
					top: -50px;
					right: 0;
				}
			}
		}
	}

	&__subtitle {
		font-size: 18px;
		line-height: 36px;

		&-wrap {
			margin-top: 15px;
		}
	}

	&__date {
		font-weight: bold;
		font-size: 24px;
		line-height: 32px;

		&-wrap {
			margin-top: 25px;
		}
	}

	&__link {
		padding: 20px 40px;

		font-weight: bold;
		font-size: 20px;
		line-height: 72px;
		text-transform: lowercase;

		color: $white;
		background: $blue;
		border-radius: 50px;
		box-shadow: 0px 10px 30px rgba(31, 13, 76, 0.3);

		&:hover {
			background: $dark-blue;
		}

		&-wrap {
			padding-top: 32px;
			padding-bottom: 37px;
			margin: 0 auto;

			max-width: 270px;
		}
	}

	&__position {
		&-list {
			margin: 0 auto;

			max-width: 310px;
			display: flex;
			justify-content: space-between;
		}

		&-place {
			font-size: 18px;
			line-height: 36px;
		}

		&-prize {
			font-size: 36px;
			line-height: 36px;

			color: $light-blue;
		}
	}
}
