.main {
	padding-top: 210px;
	padding-bottom: 200px;

	background-image: url("../img/bg-2.png");
	background-repeat: no-repeat;
	background-size: cover;

	@media (max-width: 767px) {
		padding-top: 115px;
	}
}
